figure{
  display:flex;
  flex-direction:column;
}

.container{
  width:1000px;
  display:flex;
  flex-direction:column;
}

#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background: #ddd;
  color: black;
}

#welcome-section {
  height: 100vh;
  width:100%;
  background-color:#ccf5ff; /*dark gray*/ 
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#welcome-section h1{
  margin-bottom:0;
}

#welcome-section h1, #welcome-section p{
  margin-top:0;
}

#projects{
  height:400px;
  width:100%;
  background-color:#fff; /*white*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#project-list{
  display: flex;
  border:0;
  justify-content:space-between;
  align-items:center;
}

#portfolio{
  height:400px;
  width:100%;
  background-color:#ffffcc; /*light yellow*/
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#profile-link{
  background-color:#f1f3f4; /*light gray*/
  border-color:#5f5f5f; /*light gray*/;
  height: 125px;
  width: 125px;
  background-color: #bbb;
  border-radius: 50%;
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  color:#000;
  font-weight:bold;

}

#portfolio h2{
  margin-bottom:0;
}

#portfolio h1, #portfolio p{
  margin-top:0;
}

@media only screen and (max-width: 600px){
  #welcome-section {
  height: 80vh;
    }
  
}




